<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    {%endblock title %}
</head>

<nav>

    <ul>
    {% if user.is_authenticated %}
    <li><a href="{% url "logout" %}">Logout</a></li>
    <li><a href="{% url "create_category" %}">Create Expense Category</a></li>
    <li><a href="{% url "create_account" %}">Create Account</a></li>
    <li><a href="{% url "create_receipt" %}">Create Receipts</a></li>
    <li><a href="{% url "home" %}">Show Receipts</a></li>
    <li><a href="{% url "show_categories" %}">Show Categories</a></li>
    <li><a href="{% url "show_accounts" %}">Show Accounts</a></li>


{% else %}
<li><a href="{% url "signup" %}">Signup</a></li>
<li><a href="{% url "login" %}">Login</a></li>
{% endif %}

</ul>
</nav>


<body>

{% block content%}
{% endblock %}

</body>


</html>