{% extends 'base.html' %}

{% block title %}

<title>List of Receipts</title>

{% endblock title %}


{% block content %}

<main>
            <h1>My Receipts</h1>
<p> Hello - {{user}}!</p>
<table>
<thead>
    <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
    </tr>
    </thead>

    <tbody>
        {%for receipt in receipts%}
        <tr>
            <td>{{receipt.vendor}}</td>
            <td>{{receipt.total}}</td>
            <td>{{receipt.tax}}</td>
            <td>{{receipt.date|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{receipt.category}}</td>
            <td>{{receipt.account}}</td>
        </tr>
{%endfor%}
    </tbody>
        </main>


    {% endblock content %}
