{% extends 'base.html' %}

{% block title %}
    <title>Accounts</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Account List Information</h1>
        <p>Hello - {{ user }}!</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_info %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </main>
    {% endblock content %}
