{% extends 'base.html' %}

{% block title %}
    <title>Categories</title>
{% endblock title %}
{% block content %}
    <main>
        <h1>Expense Categories</h1>
        <p>Hello - {{ user }}!</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in expense_categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </main>
    {% endblock content %}
